/* 全ページ共通設定 */

/* フォント */
@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('../fonts/Ubuntu-R.ttf');
}

@font-face {
    font-family: 'Ubuntu-Italic';
    src: url('../fonts/Ubuntu-RI.ttf');
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/Ubuntu-M.ttf');
}

@font-face {
    font-family: 'Ubuntu-Bold-Italic';
    src: url('../fonts/Ubuntu-MI.ttf');
}

/* 全タグ */
* {
    box-sizing: border-box;
}

/* htmlタグ */
html {
    background:
        linear-gradient(135deg,
            #c9d9e9 21px,
            #daeafa 22px,
            #daeafa 24px,
            transparent 24px,
            transparent 67px,
            #daeafa 67px,
            #daeafa 69px,
            transparent 69px),
        linear-gradient(225deg,
            #c9d9e9 21px,
            #daeafa 22px,
            #daeafa 24px,
            transparent 24px,
            transparent 67px,
            #daeafa 67px,
            #daeafa 69px,
            transparent 69px)0 64px;
    background-color: #c9d9e9;
    background-size: 64px 128px;
}

/* bodyタグ */
body {
    margin: 5px 15px;
    font-family: 'Ubuntu-Regular';
}

/* headerタグ */
header {
    margin: 10px 0 20px;
}

/* mainタグ */
main {
    max-width: 960px;
    min-width: 170px;
    min-height: 480px;
    margin: 0 auto;
    padding: 0 4%;
}

/* footerタグ */
footer {
    max-width: 960px;
    min-width: 170px;
    margin: 0 auto;
    padding: 0 4%;
}

/* aタグ */
a {
    text-decoration: none;
    color: black;
}

/* ulタグ */
ul {
    padding: 0;
    list-style: none;
}

/* snsボタンクラス */
.sns-list {
    max-width: 600px;
    width: 60%;
    min-width: 380px;
    text-align: center;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sns-link {
    width: 29%;
    margin: 0 2%;
    margin-bottom: 2%;
}

.sns-link a {
    padding: 5px 10px;
    border: 2px solid;
    border-radius: 5px;

    display: block;
    font-size: 1rem;
    font-weight: bold;

    transition: 0.3s;
}

.sns-link a:hover {
    transform: translate(0, 5px);
}

/* 汎用ボタン */
.button-link {
    text-align: center;
    min-width: 100px;
}

.button-link button,
.button-link a {
    padding: 5px 10px;
    color: black;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 5px;

    display: block;
    font-size: 1rem;
    font-weight: bold;

    transition: 0.3s;
}

.button-link button {
    width: 100%;
}

.button-link button:hover,
.button-link a:hover {
    transform: translate(0, 5px);
    background-color: #d0d0ef;
}

/* タイトル */
.header-title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Ubuntu-Bold';
    font-size: 3rem;
}

.header-version {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Ubuntu-Bold';
    font-size: 1rem;
}

/* コンテンツタイトル */
.content-title {
    height: 3rem;
    margin: 10px 0 20px;
    padding-bottom: 5px;
    line-height: 3rem;

    background-image:
        linear-gradient(90deg,
            #0050dd 0 5px,
            transparent 5px 15px,
            #808080 15px);
    background-repeat: no-repeat;
    background-size: 100% 5px;
    background-position: bottom;
}

.content-title span {
    font-size: 1.5rem;
    font-weight: bold;
}

/* コンテンツ背景 */
.content-box {
    padding: 5px 15px 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.55);

}

/* フェード用要素 */
.fadeDown {
    animation-name: fadeDownAnime;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.fadeDown_2 {
    animation-name: fadeDownAnime;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0.3s;
}

.fadeDown_3 {
    animation-name: fadeDownAnime;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0.6s;
}

@keyframes fadeDownAnime {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* github-linkクラス */
.github-link {
    font-size: 14px;
    margin-bottom: 10px;
}

.github-glaph {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
}

.github-info {
    transition: 0.3s;
}

.github-info:hover {
    transform: translate(0, 5px);
}

/* フッター 権利表記 */
.footer-right {
    text-align: center;
}

/* メッセージ */
.msg_alert {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.25rem;
}

@media screen and (max-width: 768px) {

    /* タイトル */
    .header-title {
        font-size: 2rem;
    }

}

@media screen and (max-width: 480px) {

    /* タイトル */
    .header-title {
        font-size: 1.75rem;
    }

    /* コンテンツタイトル */
    .content-title span {
        font-family: 'Ubuntu-Bold';
        font-size: 1.0rem;
    }

    .button-link button,
    .button-link a {
        font-size: 0.75rem;
    }

    .sns-list {
        width: 100%;
        min-width: 100px;
    }

    .sns-link {
        width: 100%;
    }

    .sns-link a {
        font-size: 0.75rem;
    }

}