RewriteEngine On
RewriteBase /
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/?$ index.php?param1=$1&param2=$2&param3=$3 [L,QSA]
RewriteRule ^([^/]+)/([^/]+)/?$ index.php?param1=$1&param2=$2 [L,QSA]
RewriteRule ^([^/]+)/?$ index.php?param1=$1 [L,QSA]