/* ボタン */
.commonButton {
    margin: 2px;
    border: 2px solid #004E00;
    color: #004E00;
    background-color: #FFFFFF;
    font-weight: 600;
    text-align: center;
}

/* ボタン hover */
.commonButton:hover {
    color: #FFFFFF;
    background-color: #004E00;
}

/* 点線で囲む */
.contentArea {
    margin: 10px auto;
    box-sizing: border-box;
    border: 2px dashed #22AA22;
}

header * {
    text-align: center;
}

.tac {
    text-align: center;
}

#puzzleArea td {
    border: 2px solid #003300;
    background-color: #DDFFDD;
}

.contentArea {
    margin: 5px;
    padding: 5px;
}

#puzzleArea table {
    width: 300px;
    height: 300px;
    margin: 5px auto;

    border: 2px solid #003300;
    border-spacing: 5px;
    table-layout: fixed;
}

#paramaterArea {
    width: 300px;
    margin: 5px auto;
    box-sizing: border-box;
}

.startButton {
    width: 300px;
    margin: 5px auto;
    box-sizing: border-box;
}

.rankArea {
    width: 100%;
    margin: 5px auto;
    padding-top: 10px;
}

.rankArea table {
    margin: 5px auto;
    padding-bottom: 10px;
}

#superHard {
    border: 2px solid #800080;
    color: #800080;
    background-color: #FFC1FF;
    font-weight: 600;
    margin: 5px auto;
}

#superHard:hover {
    color: #FFC1FF;
    background-color: #800080;
}