/* ナビゲーションバー */
.product-navbar {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.product-navbar li {
    width: 50%;
    margin: 2%;
    margin-top: 0;
}

/* メイン プロダクト一覧 */
.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    list-style: none;
}

/* メイン プロダクトブロック */
.product-block {
    width: 32%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.product-block:nth-child(3n+1) {
    margin-left: 0;
}

@media screen and (max-width: 768px) {

    /* メイン プロダクトブロック */
    .product-block {
        width: 100%;
        margin-left: 0;
        margin-bottom: 2%;
        border: 2px solid black;

        text-align: center;
    }
}

@media screen and (max-width: 480px) {

    /* ナビゲーションバー */
    .product-navbar {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .product-navbar li {
        width: 100%;
        margin: 0;
        margin-bottom: 2%;
        border: 2px solid black;
        text-align: center;
    }
}