#page-link {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    padding: 10px 0;
}

#page-link a {
    padding: 5px;
}

#page-link .to-next-prev {
    box-sizing: border-box;
    width: 12%;
}

@media screen and (max-width: 768px) {
    #page-link .to-next-prev {
        padding: auto 10px;
    }
}

@media screen and (max-width: 480px) {}