/* ナビゲーションバー */
.product-navbar {
    width: 80%;
    /* max-width: 400px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


/* ナビゲーションバーのスクロールバー装飾 */
/*
.product-navbar::-webkit-scrollbar {
    height: 10px;
    opacity: 0;
}
*/

.product-navbar li {
    width: 80%;
    padding: 2%;
    margin: 0 auto;
}

/* メイン プロダクト一覧 */
.product-list {
    margin: 10px 2% 0;

    display: flex;
    flex-wrap: wrap;

    list-style: none;
}

/* メイン プロダクトブロック */
.product-block {
    box-sizing: border-box;
    /* width: 100%; */
    margin-right: 2%;
    margin-bottom: 2%;
    width: 49%;
    height: max-content;

}

.product-block:nth-child(2n) {
    margin-right: 0;
}

.product-block button {
    text-align: left;
}

.product-block button span.block-title {
    display: flex;
    align-items: center;
}

.block-updtime {
    font-size: 0.85rem !important;
}

.block-thumbneil {
    width: 500px;
    height: 12rem;

    margin: auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.thumbneil-img {
    max-width: 100%;
    height: auto;
    max-height: 12rem;

    font-size: 1rem;
    border: none;

    display: block;
    margin: auto;
    padding-bottom: 5px;
}


@media screen and (max-width: 960px) {}

@media screen and (max-width: 768px) {

    /* ナビゲーションバー */
    .product-navbar {
        width: 100%;
        flex-wrap: nowrap;

        overflow-x: scroll;
    }

    /* ナビゲーションバーのスクロールバー装飾 */
    .product-navbar::-webkit-scrollbar {
        height: 10px;
    }

    .product-navbar::-webkit-scrollbar-thumb {
        /* ツマミの色 */
        background: rgba(160, 160, 160, 0.7);
        /* ツマミ両端の丸み */
        border-radius: 1px;
    }

    .product-navbar::-webkit-scrollbar-track {
        /* トラックの色 */
        background: rgba(180, 180, 180, 0);
        /* トラック両端の丸み */
        border-radius: 1px;
    }

    /* ナビゲーションバーの要素 */
    /* .product-navbar li {
        min-width: 120px;
    } */

    .block-updtime {
        font-size: 0.85rem !important;
    }

}

@media screen and (max-width: 480px) {
    .product-block button span.block-title {
        height: 3rem;
    }

    .block-updtime {
        font-size: 0.5rem !important;
    }
}