.product-exp {
    margin: 20px 2%;
}

.product-exp .button-link-linear {
    margin: 10px 0;
    text-align: left;
}

.product-exp .button-link-linear a,
.button-back a {
    display: inline-block;
}

.product-thumbneil {
    width: 100%;

    margin: auto;
    display: block;
    text-align: center;
}

.product-thumbneil-img {
    max-width: 100%;
    height: auto;
    max-height: 24rem;

    font-size: 1rem;
    border: none;

    display: block;
    margin: auto;
    padding-bottom: 5px;
}

.button-back {
    width: fit-content;
    margin: 0px auto 30px;
}


@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {
    .product-exp {
        font-size: 0.8rem;
    }
}